html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.jumbotron {
    border-radius: 0px;
	background-image: url('../images/jumbo.png');
	   /* Center and scale the image nicely */
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    overflow: hidden;
       /*---------------------------------*/
    margin-bottom: 0;
    font-family: 'Sancreek', cursive;
	text-align: center;
	color: white;

}

#wrapper {
	background-image: url('../images/mainImage.jpg');
	 /* Full height */
    height: 100%; 
	width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    border-top-style: solid;
    border-top-color: red;
    border-top-width: 5px;
}

h1 {
	color: white;
	font-size: 70px
}

h2 {
    color: white;
    font-size: 40px;
}

p {
	color: white;
	font-size: 30px;
}

#game {
	color: white;
	font-size: 30px;
}

#points {
 	color: white;
 	font-size: 30px;
}

#gameRow {
	margin-left: 10px;
}

#word {
	text-align: center;
    font-family: 'Smokum', cursive;
    font-size: 200px;
    color: white;
    overflow: auto;
    margin-bottom: 100px;
}

@media screen and (max-width: 610px) {
    h2 {
        font-size: 30px;
    }

    #game {
        font-size: 20px;
    }

    #points {
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
    }

    #word {
        font-size: 100px;
        margin-top: 100px;
    }
}

.modal-content {
	background-image: url('../images/modal.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    overflow: hidden;
   	border-style: solid;
	border-width: 2px;
	border-color: white;
}

.modal-body {
	color: white;
	font-size: 30px;
}



